* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  padding-top: 50px;
  padding-left: 100px;
}


#chartArea {
  background-color: #DEE;
  width: 400px;
  height: 300px;
}

.bar {
  display: inline-block;
  margin-right: 2px;
}

.dot {
  fill: teal;
  fill-opacity: 0.5;
  stroke-width: 3px;
}

.active {
  fill: #03C5C5;
  fill-opacity: 0.5;
  stroke-width: 3px;
}

.axis path, .axis line {
  fill: none;
  stroke: lightgrey;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}